
<footer>
    <mat-toolbar class="justify-content-center">
      <span>
        <button mat-button class="navButton" [routerLink]="['']">
          Terms and Conditions
        </button>
      </span>
      <span>
        <button mat-button class="navButton" [routerLink]="['']">Privacy</button>
      </span>
      <span>
        <button mat-button class="navButton" [routerLink]="['']">GDPR</button>
      </span>
      <span>
        <button mat-button class="navButton" [routerLink]="['']">
          Complaints
        </button>
      </span>
      <span>
        <button mat-button class="navButton" [routerLink]="['']">Careers</button>
      </span>
      <span>
        <button mat-button class="navButton" [routerLink]="['']">Contact</button>
      </span>
      <span>
          <button mat-button class="navButton" [routerLink]="['']">
              <img src="assets/twitter.png" class="social-icon" alt="" />
  
          </button>
        </span>
        <span>
          <button mat-button class="navButton" [routerLink]="['']">
              <img src="assets/linkedin.png" class="social-icon" alt="" />
  
          </button>
        </span>
    </mat-toolbar>
    <p id="disclaimer">
      Certua Protect Limited, registered office: 1st Floor, Healthaid House,
      Marlborough Hill, Harrow, Middlesex, HA1 1UD (registered in England, no.
      10649821). Certua Protect Limited is authorised and regulated by the
      Financial Conduct Authority and is entered on the Financial Services
      Register (registration no. 826485). Copyright © 2020 Certua Group Limited.
      All Rights Reserved. CERTUA FINANCIAL INFORMATION SERVICES LIMITED company
      no. 11506180, is regulated by the UK Financial Conduct Authority under the
      Payment Services Regulations 2017 as an Authorised Payment Institution to
      provide account information services (Firm Reference Number: 834554).
    </p>
    <mat-toolbar id="copToolbar">
      <span>
          <p id="copyright">
              Copyright © 2020 Certua Group Limited. All Rights Reserved
  
          </p>
      </span>
      <span class="spacer"></span>
  
      <span>
          <img src="assets/iso1.svg" class="iso-image" alt="" />
  
      </span>
      <span>
          <img src="assets/iso2.svg" class="iso-image" alt="" />
      </span>
    </mat-toolbar>
  </footer>
  