<div class="login row justify-content-center">
    <div class="log-card hvr-bob">
      <div class="card-header">
        <img src="assets/distributor.svg" class="card-avatar" alt="" />
  
        <h3>Distributor</h3>
      </div>
      <div class="card-content">
        <p>
          I use and sell financial products and services to consumers and small
          businesses.
        </p>
      </div>
    </div>
    <div id="log-spacer">
      <div id="log-spacing"></div>
    </div>
    <div class="log-card hvr-bob">
      <div class="card-header">
        <img src="assets/supplier.svg" class="card-avatar" alt="" />
  
        <h3>Supplier</h3>
      </div>
      <div class="card-content">
        <p>
          I make financial products and services for distributors to use and sell.
        </p>
      </div>
    </div>
  </div>